//Colors
$white: #ffffff;
$gray: #6E707A;
$offGray: #E7E7EB;
$darkGray:#A09FB1;
$grayBlue: #100E1D;
$darkBlue: #1E213A;
$lightBlue: #3C47E9;
$offWhite: #616475;
$yellow: #FFEC65;
$mediumGray: #88869D;
$purpleBlue: #585676;
$whiteGray: #E7E7EB; 

//Fonts