//Colors
$white: #ffffff;
$gray: #6e707a;
$offGray: #e7e7eb;
$darkGray: #a09fb1;
$grayBlue: #100e1d;
$darkBlue: #1e213a;
$lightBlue: #3c47e9;
$offWhite: #616475;
$yellow: #ffec65;
$mediumGray: #88869d;
$purpleBlue: #585676;
$whiteGray: #e7e7eb;

//Fonts
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;
